{% extends "layout.njk" %}

{% block content %}

    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="https://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">

    <div class="card table-container">

        <button onclick="ManutencaoFunction()" class="createInstructor">
            Manutenção
        </button>
        <button onclick="SolicitacaoFunction()" class="createInstructor">
            Solicitações
        </button>

        <div id="Manutencao" style="display: none">
        <table id="datatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Equipamentos</th>
                <th>Observações</th>
                <th>Solicitado por</th>
            </thead>
            <tbody class="test">
                <tr>
                    <td>
                        Banco de supino
                    </td>
                    <td>
                        Estragou o suporte
                    </td>
                    <td>
                        Thiago
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <div id="Solicitacao" style= "display: none">
        <table id="datatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Equipamentos</th>
                <th>Observações</th>
                <th>Custo</th>
                <th>Solicitado por</th>
            </thead>
            <tbody class="test">
                <tr>
                    <td>
                        Test solicitacao
                    </td>
                    <td>
                        $3500
                    </td>
                    <td>
                        Necessário pois a quantidade de cliente aumentou
                    </td>
                    <td>
                        Thiago
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#datatable').dataTable();

            $("[data-toggle=tooltip]").tooltip();

        });

         function ManutencaoFunction() {
            var x = document.getElementById("Manutencao");
            var y = document.getElementById("Solicitacao");

            if (y.style.display != "none")
                y.style.display = "none"
            else if (x.style.display != "none" ){
                x.style.display = "none"
            } 
            else {
                x.style.display = "block"
            }
        }

         function SolicitacaoFunction() {
            var x = document.getElementById("Solicitacao");
            var y = document.getElementById("Manutencao");
            if (y.style.display != "none"){
                y.style.display = "none" 
                }
            else if (x.style.display != "none" ){
                x.style.display = "none";
            } 
            else {
                x.style.display = "block"
            }
        }
    </script>

    <style>
        .btn {
            display: inline-block;
            padding: 6px 12px !important;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-primary {
            color: #fff !important;
            background: #428bca !important;
            border-color: #357ebd !important;
            box-shadow: none !important;
        }
        .btn-danger {
            color: #fff !important;
            background: #d9534f !important;
            border-color: #d9534f !important;
            box-shadow: none !important;
        }
    </style>

{% endblock content %}