{% extends "layout.njk" %}

{% block content %}

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Table/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/css/util.css">
    <link rel="stylesheet" type="text/css" href="Table/css/main.css">
    <!--===============================================================================================-->
    <button onclick="ManutencaoFunction()" class="createInstructor">
        Manutenção
    </button>
    <button onclick="SolicitacaoFunction()" class="createInstructor">
        Solicitações
    </button>

    <div id="Manutencao" style="display: none">
        <div class="limiter" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1">Equipamentos</th>
                                    <th class="column2">Observações</th>
                                    <th class="column3">Solicitado por</th>
                                    <th class="column4">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Banco de supino
                                    </td>
                                    <td>
                                        Estragou o suporte
                                    </td>
                                    <td>
                                        Thiago
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Banco de supino
                                    </td>
                                    <td>
                                        Estragou o suporte
                                    </td>
                                    <td>
                                        Thiago
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Banco de supino
                                    </td>
                                    <td>
                                        Estragou o suporte
                                    </td>
                                    <td>
                                        Thiago
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Solicitacao" style="display: none">
        <div class="limiter" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1">Equipamentos</th>
                                    <th class="column2">Observações</th>
                                    <th class="column3">Custo</th>
                                    <th class="column4">Solicitado por</th>
                                    <th class="column5">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Test solicitacao
                                    </td>
                                    <td>
                                        Necessário pois a quantidade de cliente aumentou
                                    </td>
                                    <td>
                                        $3500
                                    </td>
                                    <td>
                                        Thiago
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Test solicitacao
                                    </td>
                                    <td>
                                        Necessário pois a quantidade de cliente aumentou
                                    </td>
                                    <td>
                                        $3500
                                    </td>
                                    <td>
                                        Thiago
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Test solicitacao
                                    </td>
                                    <td>
                                        Necessário pois a quantidade de cliente aumentou
                                    </td>
                                    <td>
                                        $3500
                                    </td>
                                    <td>
                                        Thiago
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datatable').dataTable();

        $("[data-toggle=tooltip]").tooltip();

    });

    function ManutencaoFunction() {
        var x = document.getElementById("Manutencao");
        var y = document.getElementById("Solicitacao");

        if (y.style.display != "none") 
            y.style.display = "none"
        else if (x.style.display != "none") {
            x.style.display = "none"
        } else {
            x.style.display = "block"
        }
    }

    function SolicitacaoFunction() {
        var x = document.getElementById("Solicitacao");
        var y = document.getElementById("Manutencao");
        if (y.style.display != "none") {
            y.style.display = "none"
        } else if (x.style.display != "none") {
            x.style.display = "none";
        } else {
            x.style.display = "block"
        }
    }
</script>

{% endblock content %}