{% extends "layout.njk" %}

{% block content %}

    <a href="/instructors/create" class="createInstructor">Novo</a>

    <link rel="icon" type="image/png" href="Table/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/css/util.css">
    <link rel="stylesheet" type="text/css" href="Table/css/main.css">
    <!--===============================================================================================-->

    <div class="limiter" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Instrutor</th>
                                <th class="column2">Atendimento</th>
                                <th class="column3">Alunos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instructor in instructors %}
                                <tr>
                                    {# <td>
                                        <span style="background-image: url({{ instructor.avatar_url }})"></span>
                                    </td> #}
                                    <td>
                                        {{instructor.name}}
                                    </td>
                                    <td>{{instructor.services}}</td>
                                    <td>{{instructor.total_students}}</td>
                                   
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}