{% extends "layout.njk" %}

{% block content %}

    <h3>Avaliação Física do Diogo</h3>
    <form class="was-validated">

        <div class="columns">
            <div>
                <label for="validationInput">Aluno da acedemia</label>
                <select class="custom-select" required="required">
                    <option value="">Selecione uma opção</option>
                    <option value="novo">Novo</option>
                    <option value="antigo">Antigo</option>
                </select>
            </div>
            <div class="columns-right">
                <label for="validationInput">Quanto tempo (meses)</label>
                <input class="form-control is-invalid" id="validationInput" name="qntAcademy" required="required"/>
            </div>
        </div>

        <div class="mb-3">
            <label for="validationInput">Objetivo</label>
            <input class="form-control is-invalid" id="validationInput" placeholder="Ex: Hipertrofia MI - Definicao Muscular MS" required="required"/>
        </div>

          <div class="mb-3">
            <div>
                <label for="validationInput">Atividades que irá praticar</label>
                <select class="custom-select" required="required">
                    <option value="">Selecione uma opção</option>
                    <option value="novo">Musculação</option>
                    <option value="antigo">Crossfit</option>
                    <option value="antigo">Natação</option>
                    <option value="antigo">Zumba</option>
                    <option value="antigo">Muay thai</option>
                </select>
            </div>
        </div>

        <div class="mb-3 columns">
            <div>
                <label for="validationInput">Frequencia de treino semanal</label>
                <input class="form-control is-invalid" id="validationInput" placeholder="Ex: 5" required="required"/>
            </div>
            <div class="columns-right">
                <label for="validationInput">Tempo de treinamento por dia(min)</label>
                <input type="number" class="form-control is-invalid" id="validationInput" placeholder="Ex: 120" required="required"/>
            </div>
        </div>

        <div class="columns-sport">
            <div>
                <label for="validationInput">Pratica esporte (?)</label>
                <select class="custom-select" required="required">
                    <option value="">Selecione uma opção</option>
                    <option value="novo">Sim</option>
                    <option value="antigo">Não</option>
                </select>
            </div>

            <div class="columns-right">

                <label for="validationInput">Qual</label>
                <input class="form-control is-invalid" placeholder="Ex: Futebol" id="validationInput" required="required"/>

            </div>

            <div class="columns-right">
                <label for="validationInput">Frequencia (dias na semana)</label>
                <input type="number" class="form-control is-invalid" placeholder="Ex: 2" id="validationInput" required="required"/>

            </div>

            <div class="columns-right">
                <label for="validationInput">Qto Tempo (min)</label>
                <input type="number" class="form-control is-invalid" placeholder="Ex: 40" id="validationInput" required="required"/>

            </div>

        </div>
    </form>

    <style>
        h3{
        text-align: center;
        }

        .columns {
            margin-bottom: 1rem;
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
        }

        .columns-sport {
            margin-bottom: 1rem;
            display: flex;
            width: 100%;
        }

        .columns-right {
            margin-left: 10px;
        }
    </style>

{% endblock content %}