{% extends "layout.njk" %}

{% block content %}

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Table/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/css/util.css">
    <link rel="stylesheet" type="text/css" href="Table/css/main.css">
    <!--===============================================================================================-->

    <div class="limiter" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Membro</th>
                                <th class="column2">Email</th>
                                <th class="column3">Peso</th>
                                <th class="column4">Altura</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr>
                                    <td>{{member.name}}</td>
                                    <td>{{member.email}}</td>
                                    <td>{{member.weight}}Kg</td>
                                    <td>{{member.height}}Cm</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}