{% extends "layout.njk" %}

{% block content %}

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Table/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table/css/util.css">
    <link rel="stylesheet" type="text/css" href="Table/css/main.css">
    <!--===============================================================================================-->

    <button class="createInstructor">Adicionar</button>

    <div class="limiter" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Membro</th>
                                <th class="column2">Email</th>
                                <th class="column4">Senha</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr>
                                    <td>{{member.name}}</td>
                                    <td>{{member.email}}</td>
                                    <td>{{member.password}}</td>
                                    <td>
                                        <div class="btn-group">

                                            <form action="/members/{{member.id}}" method="get">
                                                <button type="submit">
                                                    <svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-arrow-clockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M3.17 6.706a5 5 0 0 1 7.103-3.16.5.5 0 1 0 .454-.892A6 6 0 1 0 13.455 5.5a.5.5 0 0 0-.91.417 5 5 0 1 1-9.375.789z"/>
                                                        <path fill-rule="evenodd" d="M8.147.146a.5.5 0 0 1 .707 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 1 1-.707-.708L10.293 3 8.147.854a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </button>
                                            </form>
                                            <form id="form-delete" action="/members?_method=DELETE" method="post">
                                                <input type="hidden" name="id" value={{member.id}}>
                                                <button type="submit">
                                                    <svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="home.css">

    <div class="modal">
        <div class="modal-container">
            <form class="card" method="POST" action="/members">
                <div class="modal-left">
                    <h1 class="modal-title">Novo Instrutor!</h1>
                    <div class="input-block">
                        <label for="avatar_url" class="input-label">Avatar URL</label>
                        <input type="url" name="avatar_url" placeholder="http://" value="{{ instructor.avatar_url }}">
                    </div>
                    <div class="input-block">
                        <label for="text" class="input-label">Nome</label>
                        <input type="text" name="name" placeholder="Nome do instrutor" value="{{ instructor.name }}">
                    </div>
                    <div class="input-block">
                        <label for="text" class="input-label">E-mail</label>
                        <input type="email" name="email" placeholder="exemplo@gmail.com" value="{{ member.email }}">
                    </div>
                    <div class="input-block">
                        <label for="text" class="input-label">Data de Nascimento</label>
                        <input type="date" name="birth" value="{{ instructor.birth }}">

                    </div>
                    <div class="input-radio">
                        <div>
                            <label for="text" class="input-label">Sexo</label>
                        </div>
                        <div class="test-radio">
                            <span><input type="radio" name="gender" value="M" {% if instructor.gender == 'M' %} checked="checked" {% endif %}>Masculino</span>
                            <span><input type="radio" name="gender" value="F" {% if instructor.gender == 'F' %} checked="checked" {% endif %}>Femenino</span>
                        </div>

                    </div>
                    <div class="input-block">
                        <label for="text" class="input-label">Senha</label>
                        <input type="password" name="password" placeholder="Insira o dia e mês do nascimento do cliente" value="{{ member.password }}">
                    </div>

                    <div class="modal-buttons">
                        <button class="input-button close-button" type="button">Cancelar</button>
                        <button class="input-button" type="submit">Salvar</button>
                    </div>
                </div>
            </form>
            <div class="modal-right">
                <img src="https://source.unsplash.com/collection/8353395/500x500" alt="">
            </div>

            <button class="icon-button close-button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 50 50">
                    <path d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z"></path>
                </svg>
            </button>
        </div>

    </div>

    <script>
        const body = document.querySelector("body");
        const modal = document.querySelector(".modal");
        const modalButton = document.querySelector(".createInstructor");
        const closeButton = document.querySelector(".close-button");
        const closeButtonIcon = document.querySelector(".close-button-icon");
        let isOpened = false;

        const openModal = () => {
            modal
                .classList
                .add("is-open");
            body.style.overflow = "hidden";
        };

        const closeModal = () => {
            modal
                .classList
                .remove("is-open");
            body.style.overflow = "initial";
        };

        modalButton.addEventListener("click", openModal);
        closeButton.addEventListener("click", closeModal);
        closeButtonIcon.addEventListener("click", closeModal);

        document.onkeydown = evt => {
            evt = evt || window.event;
            evt.keyCode === 27
                ? closeModal()
                : false;
        };


        $.ajax({
        url : 'http://localhost:3000/members',
        type : 'POST', // On fait passer nos variables, exactement comme en GET, au script more_com.php
        dataType : 'json',
        success: function (data) {
            alert("The file is ");
        },
        error: function(data) {
            //console.log(data);
            alert("Error(s) while building the Zip file:\n");
        }
     });
    </script>

{% endblock content %}